{% extends 'hill_bakes/base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="home_main">
    <h1>Hill Bakes</h1>
</div>
<div class="sub_main">
    <h3><a href="{% url 'hill_bakes:home_page' %}">Home</a></h3>
    <h3><a href="{% url 'hill_bakes:cookies' %}">Cookies</a></h3>
    <h3><a href="{% url 'hill_bakes:cakes' %}">Cake</a></h3>
    <h3><a href="{% url 'hill_bakes:cake_balls' %}">Cake Balls</a></h3>
    <h3><a href="{% url 'hill_bakes:about' %}">About</a></h3>
    <h3><a href="{% url 'hill_bakes:signup' %}">Register</a></h3>
    <h3><a href="{% url 'hill_bakes:shopping_cart' %}">Shopping Cart</a></h3>
</div>

<body>

    <form action="{% url 'hill_bakes:login' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        <!-- <a href="{% url 'hill_bakes:signup' %}">or signup</a> -->
    </form>

</body>


{% endblock %}