{% extends 'hill_bakes/base.html' %}

{% block title %}
Shopping Cart
{% endblock %}

{% block content %}
<div class="cart_main">
    <h1>Shopping Cart</h1>
</div>
<div class="main">
    <h3><a href="{% url 'hill_bakes:home_page' %}">Home</a></h3>
    <h3><a href="{% url 'hill_bakes:cookies' %}">Cookies</a></h3>
    <h3><a href="{% url 'hill_bakes:cakes' %}">Cake</a></h3>
    <h3><a href="{% url 'hill_bakes:cake_balls' %}">Cake Balls</a></h3>
    <h3><a href="{% url 'hill_bakes:about' %}">About</a></h3>
    <h3><a href="{% url 'hill_bakes:login' %}">Login</a></h3>
    <h3><a href="{% url 'hill_bakes:signup' %}">Register</a></h3>
</div>
<div class="cart">
    <H1>Your cart</H1>
 
</div>


{% endblock %}