{% extends 'hb/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}


<section class="container-lg shadow-lg bg-light">
    <div class="m-3 p-3 shadow-lg bg-success text-white">
    <h2 class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis unde nihil illum nostrum eius nam, dolorum dignissimos autem error qui doloribus atque cupiditate necessitatibus consequuntur aut sed sequi tempora consectetur perspiciatis tempore. Iste quibusdam maxime veniam inventore praesentium quos amet. Fugit numquam eum illum unde quo, repudiandae amet laborum debitis dolorum repellat quia aliquam similique impedit ut eius ratione minima!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis mollitia, autem corporis error expedita suscipit. Fugiat tenetur, maxime unde voluptate sit quas illum, dolor culpa obcaecati ipsa omnis beatae quos corrupti eius ut architecto! Molestias debitis rem at cupiditate cum corporis expedita voluptatum eligendi ratione!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur similique ipsum assumenda deleniti, pariatur esse magni aspernatur nulla eligendi eveniet? Earum tenetur alias, optio quod, quae natus perferendis soluta voluptatibus fugiat voluptatum dolor quaerat adipisci, cumque commodi cum quisquam. Numquam odit mollitia assumenda optio, dignissimos eius ut quas reiciendis? Est tempora autem dolor repudiandae, tempore ad aspernatur. Natus illum illo commodi. Vero, cum ducimus? Aperiam, voluptate reiciendis! Vitae corporis dolores assumenda aspernatur nostrum libero cupiditate eos officiis ad? Tempora, tenetur!</p>
    </div>
</section>


{% endblock %}