{% extends 'hb/base.html' %}
{% load static %}


{% block title %}
Cookies
{% endblock %}

{% block content %}

<section class="container-lg shadow-lg bg-light">
    <div>
    {% for chip in cookie %}
    
                    
        <div class="container-lg m-3 p-3 shadow-lg  m-2 p-2 bg-success text-white ">
            <div class="row  align-items-center ">
                <div class="col-lg-6 col-md-4">
                    <h3 class="p-2">{{chip}}</h3>
                    <p> Description: {{chip.description}}</p>
                    <ul>
                        {% for p in price %}
                        <li>{{p}} - ${{p.price}}  <a href="{% url 'cart:cart_add' chip.id p.id %}?next=hb:cookies"><button class="btn btn-sm btn-outline-dark">Add to Cart</button></a> </li>
                        {% endfor %}
                        <br>
                    </ul>
                </div>
                
                <div class="px-5 col-md-4 col-lg-6 justify-content-lg-center">
                    {% if chip.image %}
                    
                    <img src="{{chip.image.url}}" alt="cookie" class="float-center" height="350" width="290">
                    
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>


{% endblock %}