{% extends 'hb/base.html' %}


{% block title %}
Cookies
{% endblock %}

{% block content %}
<div class="home_main">
    <h1>Hill Bakes</h1>
</div>

<section id="product" class="bg-light">
    <ul>
        {% for chip in cookie %}
        <div class="m-3 p-3 shadow">
            <li class="p-2">{{chip}}</liclass=p-3>
                <p>  - Description: {{chip.description}}</p>
                <ul>
                    {% for p in price %}
                        <li>{{p}} - ${{p.price}}</li>
                    {% endfor %}
                    <br>
                </ul>
        </div>
        {% endfor %}
        </ul>

</section>


{% endblock %}