{% extends 'hb/base.html' %}
{% load static %}


{% block title %}
Cookies
{% endblock %}

{% block content %}

<section class="container-lg shadow-lg bg-light">
    <div>
    {% for chip in cookie %}
        <div class="m-3 p-3 shadow-lg bg-success text-white justify-items-start">
            <h3 class="p-2">{{chip}}</h3>
                <p> Description: {{chip.description}}</p>
                {% if chip.image %}
                <img src="{{chip.image.url}}" alt="cookie" class="float-end">
                {% endif %}
                <ul>
                    {% for p in price %}
                        <li>{{p}} - ${{p.price}}  <a href="{% url 'cart:cart_add' chip.id p.id %}"><button class="btn btn-sm btn-outline-dark">Add to Cart</button></a> </li>
                    {% endfor %}
                    <br>
                </ul>
        </div>
        {% endfor %}
        </div>
</section>


{% endblock %}