{% extends 'hb/base.html' %}

{% block title %}
Hill Bakes
{% endblock %}

{% block content %}
<div class="home_main">
    <h1>Hill Bakes</h1>
</div>
<div class="main">
    <h5><a href="{% url 'hb:home_page' %}">Home</a></h5>
    <h5><a href="{% url 'hb:cookies' %}">Cookies</a></h5>
    <h5><a href="{% url 'hb:cakes' %}">Cake</a></h5>
    <h5><a href="{% url 'hb:cake_balls' %}">Cake Balls</a></h5>
    <h5><a href="{% url 'hb:about' %}">About</a></h5>
    <h5><a href="{% url 'client:login_user' %}">Login</a></h5>
    <h5><a href="{% url 'client:signup' %}">Signup</a></h5>

</div>
<div class="welcome">
    <H1>Welcome to Hill Bakes</H1>
    <h2>Individually crafted baked goods with high quality ingredients to create distinctive, memorable flavors. Every
        bite is an indulgence to savor. 🥮 </h2>
</div>


{% endblock %}