{% extends 'hb/base.html' %}

{% block title %}
Hill Bakes
{% endblock %}

{% block content %}

<section id="intro">
    <div class="container-lg mt-5">
        <div class="row justify-content-center">
            <H1>Welcome to Hill Bakes</H1>
            
            <div class="m-3 p-3 shadow bg-success">
                <h2>Individually crafted baked goods with high quality ingredients to create distinctive, memorable flavors. Every
                    bite is an indulgence to savor. 🥮 </h2>
            </div>
        </div>
    </div>

</section>


{% endblock %}