{% extends 'hb/base.html' %}
{% load static %}

{% block title %}
Hill Bakes
{% endblock %}

{% block content %}

<section class="container-lg shadow-lg bg-light">        
    <div class="m-3 p-3 shadow-lg bg-success text-white">
        <H1>Welcome to Hill Bakes</H1>
        <br>
        <h2>Individually crafted baked goods with high quality ingredients to create distinctive, memorable flavors. Every bite is an indulgence to savor. 🥮 </h2>
        <h3>We offer a variety of Cookies, Cakes, and Cake Balls.  Every cookie is 4 oz pre-baked.  Our cakes come in 4" 2 layers or 6" 3 layers.  And of course cake balls are better than donut holes any day.</h3>
    </div>
</section>

<section class="container-lg shadow-lg  bg-light">        
    <div class="m-3 p-3 shadow-lg bg-success text-white">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-2 text-center">
                <a href="{% url 'hb:cookies' %}"><button class="btn btn-outline-dark mb-2">Cookies</button></a>
                <img src="{% static '/ChocolateChunkPecan.jpeg' %}" alt="cookie" class="float-center" height="400" width="325">
            </div>
            <div class="col-lg-4 col-md-2 text-center">
                <a href="{% url 'hb:cakes' %}"><button class="btn btn-outline-dark mb-2">Cakes</button></a>
                <img src="{% static '/InsideOutChocVanCake.jpeg' %}" alt="cake" class="float-center" height="400" width="325">
                
            </div>
            <div class="col-lg-4 col-md-2 text-center">
                <a href="{% url 'hb:cake_balls' %}"><button class="btn btn-outline-dark mb-2">Cake Balls</button></a>
                <img src="{% static '/CookiesCreamCB.png' %}" alt="cake balls" class="float-center" height="400" width="325">
                
            </div>
        </div>
    </div>
</section>

{% endblock %}