{% extends 'hb/base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}


<section class="container-lg shadow-lg pb-3 bg-success">
    <form class="row g-3"action="{% url 'client:login_user' %}" method="POST">
        {% csrf_token %}
        <div class="col-md-6">
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="col-md-6">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="col-md-6">
            <button type="submit">Login</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">or Sign Up</button>
        </div>
    </form>
</section>


    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasTopLabel">Sign Up</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <section class="container-lg shadow-lg pb-3 bg-success">
            <form class="row g-3" action="{% url 'client:signup' %}" method="POST">
              {% csrf_token %}
                <div class="col-md-6">
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="col-md-6">
                    <input type="text" name="first_name" placeholder="First Name">
                </div>
                <div class="col-md-6">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="col-md-6">
                    <input type="text" name="last_name" placeholder="Last Name">
                </div>
                <div class="col-md-6">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
              <div class="col-md-6">
                <button type="submit">Sign-Up</button>
              </div>
            </form>
          </section>
      </div>
    </div>


{% endblock %}