{% extends 'hb/base.html' %}

{% block title %}
Sign-Up
{% endblock %}

{% block content %}

<section class="container-lg shadow-lg pb-3 bg-success">
  <form class="row g-3" action="{% url 'client:signup' %}" method="POST">
    {% csrf_token %}
    <div class="col-md-6">
      <input type="text" name="username" placeholder="Username" required>
    </div>
    <div class="col-md-6">
      <input type="password" name="password" placeholder="Password" required>
    </div>
    <div class="col-md-6">
      <input type="email" name="email" placeholder="Email" required>
    </div>
    <div class="col-md-6">
      <input type="text" name="first_name" placeholder="First Name">
    </div>
    <div class="col-md-6">
      <input type="text" name="last_name" placeholder="Last Name">
    </div>
    <div class="col-md-6">
      <button type="submit">Sign-Up</button>
    </div>
  </form>
</section>


{% endblock %}