{% extends 'hb/base.html' %}

{% block title %}
Shopping Cart
{% endblock %}

{% block content %}

<section class="container-lg shadow-lg bg-light">        
    <div class="m-3 p-3 shadow-lg bg-success text-white">

        <div class="cart_main">
            <h1>Shopping Cart</h1>
        </div>
    </div>
</section>

<section class="container-lg shadow-lg bg-light">        
    <div class="m-3 p-3 shadow-lg bg-success text-white">
        <div class="row">

            <div>
                {% load cart_tag %}

                <a class="text-dark" href="{% url 'cart:cart_clear' %}">Clear Cart</a>


                <div class="cart">
                    <H1>Your cart</H1>
                
                </div>



                <h4>Total Items: {{request.session.cart|length}}</h4>

                <h4>Cart Detail:</h4>

                {% for key,product in request.session.cart.items %}
                <ul class="list-group">{{product.name}}
                     <li class="list-group-item">Item and Cost/Item: {{product.verbose_name}} @ ${{product.price}} </li>
                     <li class="list-group-item">Quantity: {{product.quantity}}</li>
                     <li class="list-group-item">Total ${{ product.price|multiply:product.quantity }}</li>
                    <a class="text-dark" href="{% url 'cart:item_increment' product.product_id product.cost_id  %}">Add Item</a>
                    <a class="text-dark" href="{% url 'cart:item_decrement' product.product_id product.cost_id %}">Remove Item</a>
                </ul>
                <br>

                {% endfor %}
                
            </div>

        </div>

    </div>
</section>


{% endblock %}