{% extends 'hb/base.html' %}

{% block title %}
Shopping Cart
{% endblock %}

{% block content %}
<div class="cart_main">
    <h1>Shopping Cart</h1>
</div>
<div class="main">
    <h3><a href="{% url 'hb:home_page' %}">Home</a></h3>
    <h3><a href="{% url 'hb:cookies' %}">Cookies</a></h3>
    <h3><a href="{% url 'hb:cakes' %}">Cake</a></h3>
    <h3><a href="{% url 'hb:cake_balls' %}">Cake Balls</a></h3>
    <h3><a href="{% url 'hb:about' %}">About</a></h3>
    <!-- <h3><a href="{% url 'hb:login' %}">Login</a></h3>
    <h3><a href="{% url 'hb:signup' %}">Register</a></h3> -->
</div>
<div class="cart">
    <H1>Your cart</H1>
 
</div>


{% endblock %}